html {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #0a0a23;
}

h1 {
    color: green;
    max-width: 37.25rem;
    margin: 0 auto;
    padding: 1.5rem 1.25rem;

    .flex {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .flex > span:first-of-type {
        font-size: 0.6em;
        @mixin atSmall {
            font-size: 0.7em;
        }
    }

    .flex > span:last-of-type {
        font-size: 1.2em;
    }
}

section {
    max-width: 40rem;
    margin: 0 auto;
    border: 2px solid #d0d0d5;
}

span {
    font-weight: normal;
}